html(lang="pt")
head 
    title WebCreator
    meta(name='theme-color' content='#16000b')
    link(rel='manifest' href='manifest.json')
    link(rel='stylesheet' href='/css/style.css')
body
    header.banner
        h1 Crie sites rapidamente
    #container 
        p 
         | Um novo jeito de criar sites 